.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #f0f0f0; /* Fondo gris claro */
    flex-direction: column;
  }
  
  .loader {
    font-size: 48px; /* Tamaño del ícono */
    color: #3498db; /* Color azul del ícono */
    animation: spin 2s linear infinite; /* Animación de giro */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Inicio de la animación */
    }
    100% {
      transform: rotate(360deg); /* Fin de la animación */
    }
  }
  
  p {
    margin-top: 16px; /* Espacio entre el ícono y el texto */
    font-size: 18px; /* Tamaño del texto */
    color: #333; /* Color del texto */
  }